{{#*inline "page"}}
<h2><p>{{title}}</p></h2>

<div>
    <canvas id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>

    const json_data = {{{data}}};

    const data_date = json_data.filter(e => e.symbol === "AAPL").map(function(e){return e.dtg;});

    const data_aapl = json_data.filter(e => e.symbol === "AAPL").map(function(e){return e.price;});
    const data_tsla = json_data.filter(e => e.symbol === "TSLA").map(function(e){return e.price;});
    const data_bac = json_data.filter(e => e.symbol === "BAC").map(function(e){return e.price;});
    const data_aal = json_data.filter(e => e.symbol === "AAL").map(function(e){return e.price;});
    const data_plug = json_data.filter(e => e.symbol === "PLUG").map(function(e){return e.price;});
    const data_nio = json_data.filter(e => e.symbol === "NIO").map(function(e){return e.price;});

    console.log("data_data: " + data_date);
    console.log("data_data: " + data_aapl);

    const ctx = document.getElementById('myChart');

    new Chart(ctx, {
        type: 'line',
        data: {
            labels: data_date,
            datasets: [{
                label: 'AAPL',
                data: data_aapl,
                borderWidth: 1
            },
            {
                label: 'TSLA',
                data: data_tsla,
                borderWidth: 1
            },
            {
                label: 'BAC',
                data: data_bac,
                borderWidth: 1
            },
            {
                label: 'AAL',
                data: data_aal,
                borderWidth: 1
            },
            {
                label: 'PLUG',
                data: data_plug,
                borderWidth: 1
            },
            {
            label: 'NIO',
            data: data_nio,
            borderWidth: 1
        }],


        },
        options: {
            scales: {
                y: {
                    beginAtZero: false
                }
            }
        }
    });
</script>

{{/inline}}
{{> (lookup this "parent")}}