{{#*inline "page"}}
<h2><p>{{title}}</p></h2>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
<br>
<table>
    <tr><td>Symbol</td><td>Qty</td><td>Profit</td></tr>
    {{#each data}}
    <tr>
        <td>{{this.symbol}}</td>
        <td>{{this.qty}}</td>
        <td>{{this.subtotal}}</td>
    </tr>
    {{/each}}
    <tr><td>Total</td><td></td><td>{{profit_total.profit}}</td></tr>
</table>
{{/inline}}
{{> (lookup this "parent")}}