{{#*inline "page"}}
<h2><p>{{title}}</p></h2>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
<br>
<table>
    <tr><td>cash</td><td>${{message.cash}}</td></tr>
    <tr><td>position_market_value</td><td>${{message.position_market_value}}</td></tr>
    <tr><td>equity</td><td>${{message.equity}}</td></tr>
    <tr><td>portfolio_value</td><td>${{message.portfolio_value}}</td></tr>
    <tr><td>long_market_value</td><td>${{message.long_market_value}}</td></tr>
    <tr><td>short_market_value</td><td>${{message.short_market_value}}</td></tr>
    <tr><td>accrued_fees</td><td>${{message.accrued_fees}}</td></tr>
    <tr><td>created_at</td><td>{{message.created_at}}</td></tr>
    <tr><td>balance_asof</td><td>{{message.balance_asof}}</td></tr>
    <tr><td>shorting_enabled</td><td>{{message.shorting_enabled}}</td></tr>
    <tr><td>pattern_day_trader</td><td>{{message.pattern_day_trader}}</td></tr>
    <tr><td>daytrade_count</td><td>{{message.daytrade_count}}</td></tr>
    <tr><td>trading_blocked</td><td>{{message.trading_blocked}}</td></tr>
    <tr><td>transfers_blocked</td><td>{{message.transfers_blocked}}</td></tr>
    <tr><td>account_blocked</td><td>{{message.account_blocked}}</td></tr>



</table>
{{/inline}}
{{> (lookup this "parent")}}