{{#*inline "page"}}
<h2><p>{{title}}</p></h2>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
<br>
<table>
    <tr><td>Cash</td><td>${{message.cash}}</td></tr>
    <tr><td>Market Value</td><td>${{message.position_market_value}}</td></tr>
    <tr><td>Equity</td><td>${{message.equity}}</td></tr>
</table>
{{/inline}}
{{> (lookup this "parent")}}