{{#*inline "page"}}
<h2><p>{{title}}</p></h2>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
<br>
<table>
    <tr>
        <td>symbol</td>
        <td>profit_to_date</td>
        <td>activity_count</td>
        <td>count_today</td>
        <td>count_yesterday</td>
        <td>price_avg</td>
        <td>volume</td>
        <td>profit_vs_activities</td>
        <td>profit_vs_price</td>
        <td>profit_vs_volume</td>
        <td>trade_latest</td>
        <td>activity_latest</td>
    <tr>
    {{#each data}}
    <tr>
        <td>{{this.symbol}}</td>
        <td>{{this.profit_to_date}}</td>
        <td>{{this.activity_count}}</td>
        <td>{{this.count_today}}</td>
        <td>{{this.count_yesterday}}</td>
        <td>{{this.price_avg}}</td>
        <td>{{this.profit_vs_activities}}</td>
        <td>{{this.profit_vs_price}}</td>
        <td>{{this.profit_vs_volume}}</td>
        <td>{{this.profit_vs_volume}}</td>
        <td>{{this.trade_latest}}</td>
        <td>{{this.activity_latest}}</td>
    </tr>
    {{/each}}
    <tr><td>Total</td><td>{{profit_total.profit}}</td></tr>
</table>
{{/inline}}
{{> (lookup this "parent")}}