{{#*inline "page"}}
<h2><p>{{title}}</p></h2>
<p>{{message}}</p>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
<br>
<table>
    <tr>
        <td>Symbol</td>
        <td>Side</td>
        <td>Qty</td>
        <td>Price</td>
        <td>Pacific</td>
        <td>UTC</td>
    <tr>
    {{#each data}}
    <tr>
        <td><a href="https://www.google.com/finance/quote/{{this.symbol}}:NASDAQ">{{this.symbol}}</a></td>
        <td>{{this.side}}</td>
        <td>{{this.qty}}</td>
        <td>${{this.price}}</td>
        <td>{{this.dtg_pacific}}</td>
        <td>{{this.dtg_utc}}</td>
    </tr>
    {{/each}}
</table>
{{/inline}}
{{> (lookup this "parent")}}